body,
html {
  font-family: "typeface-montserrat";
}

.container {
  max-width: 800px;
  margin: 0 auto;
  //display: inline-block;
  align-items: flex-start;
  flex: 1 1 auto;
  //flex-direction: row;
  //flex-grow: 1;
}

.large {
  min-height: 100vh;
  position: relative;
  height: 100%;
  font-family: "montserrat";

  h3 {
    font-family: "montserrat";
  }
  //align-items: stretch;
}

.header {
  //max-width: 1200px;
  display: flex;
  flex-direction: row;
  //flex: 1;
  justify-content: space-between;
  margin: 0 5%;
}

.footer {
  text-align: center;
  background-color: #181d22;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #f4f4f4;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.link1 {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.block {
  display: inline-block;
  float: right;
  list-style-type: none;

  li {
    display: inline-block;
    margin-left: 1rem;
    font-weight: bold;
  }
}

.hone {
  display: inline-block;
  margin-top: 0;
}

.sect2 {
  background-color: #cfdeee;
  width: 100%;
  //height: 50vh;
}

.mid {
  * {
    margin-top: 1rem;
    //padding-top: 1rem;
    //margin-left: 1rem;
    padding-left: 0.5rem;
  }
}

.sect1 {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;

  h3 {
    margin-left: 0.5rem;
  }
  & div {
    max-width: 600px;
    flex: 1;
    min-width: 250px;
  }

  & img {
    margin-bottom: 2rem;
  }
}

.flex2 {
  max-width: 900px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;

  & div {
    max-width: 600px;
    flex: 1;
    min-width: 250px;
    padding-left: 0.5rem;
  }
  & img {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.sect3 {
  background-color: #fbfdff;
  width: 100%;
  //height: 50vh;

  .flex3 {
    max-width: 900px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;

    & div {
      max-width: 600px;
      flex: 1;
      min-width: 250px;
      padding-left: 0.5rem;
    }

    & img {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
}

.mcon {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.button1 {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 50rem;
  color: #fff;
  background-color: #475edf;
  border-color: #475edf;
  width: 150px;
  text-align: center;
  margin-bottom: 3rem;

  svg {
    margin-left: 0.5rem;
    margin-top: 3px;
  }
}
