.container {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
}

.link1 {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.block {
  display: inline-block;
  float: right;
}

.hone {
  display: inline-block;
  margin-top: 0;
}
