.container {
  max-width: 800px;
  margin: 0 auto;
  //display: inline-block;
  align-items: flex-start;
  flex: 1 1 auto;
  //flex-direction: row;
  //flex-grow: 1;
}

.large {
  min-height: 100vh;
  position: relative;
  //align-items: stretch;
}

.header {
  //max-width: 1200px;
  display: flex;
  flex-direction: row;
  //flex: 1;
  justify-content: space-between;
  margin: 0 5%;
}

.footer {
  text-align: center;
  background-color: #181d22;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #f4f4f4;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.link1 {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.block {
  display: inline-block;
  float: right;
  list-style-type: none;

  li {
    display: inline-block;
    margin-left: 1rem;
    font-weight: bold;
  }
}

.hone {
  display: inline-block;
  margin-top: 0;
}
